.before-header-panel-outlet {
  display: flex;
  height: 100%;
}

@if $links_position == "right" {
  .before-header-panel-outlet {
    margin-left: auto;
    + .panel {
      margin-left: 0;
    }
  }
}

.custom-header-links {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
  @if $links_position == "left" {
    margin-left: 1em;
    &--hide-links {
      display: none;
    }
  }

  .headerLink {
    list-style: none;
    a {
      padding: 0.35em 0.6em;
      color: var(--header_primary);
    }
  }

  &--hide-links {
    .headerLink:not(.headerLink--keep) {
      display: none;
    }
  }
}

.desktop-view .headerLink--vmo,
.mobile-view .headerLink--vdo {
  display: none;
}

// for compatibility with the discourse-header-search component

.floating-search-input-wrapper {
  flex: 1 1 auto;
  margin: 0 1em;
  @if $links_position == "left" {
    order: 2;
  }

  .floating-search-input {
    width: 100%;
    margin: 0;
  }

  .search-menu {
    width: 100% !important; // overrides very specific selector
  }
}

:root {
  --tw-bg-opacity: 1;
  --tw-border-opacity: 1;
}

.header-sidebar-toggle {
  display: none;
}

.chat-header-icon {
  display: none;
}

.search-dropdown {
  display: none;
}


.d-header > .wrap {
  margin: unset;
  padding: unset;
  max-width: unset !important;
}

.d-header{
  height: 64px;
  font-family: Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  box-shadow: unset;
  border-bottom-width: 1px;
  border-color: rgb(213 218 229/var(--tw-border-opacity));
  border-bottom-style: solid;
}

.home-logo-wrapper-outlet {
  border-right-width: 1px;
  border-color: rgb(213 218 229/var(--tw-border-opacity));
  border-right-style: solid;
}

.discuss-custom-header-links {
  background-color: rgb(240 242 246/var(--tw-bg-opacity));
}

.title:hover {
  background-color: rgb(240 242 246/var(--tw-bg-opacity));
}


.title a {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  width: 2rem;
  height: 63px;
  display: inline-flex;
  align-items: center;
}

.logo-big {
  display: flex;
}

.headerLink {
  height: 100%;
  display: flex;
}

.headerLink a {
  align-items: center;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
}

.headerLink a:hover {
  background-color: rgb(240 242 246/var(--tw-bg-opacity));
}

.sign-up-button {
  background-color: rgb(28 131 225/var(--tw-bg-opacity)) !important;
  border-radius: 5px;
}

.sign-up-button:hover {
  background-color: rgb(61 157 243/var(--tw-bg-opacity)) !important;
}

.login-button {
  background-color: #fff !important;
  color: rgb(28 131 225/var(--tw-bg-opacity)) !important;
}
.login-button:hover {
  background-color: #fff !important;
  color: rgb(61 157 243/var(--tw-bg-opacity)) !important;
}

.login-button svg{
  display: none;
}
